body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

/* styling body */
body {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
}

/* styling overall app container */
.app-container h1 {
  /* text-align: center; */

}

/* authentication section start */
.login-container h2 {
  margin-bottom: 10px;
}

.noauth-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  
}

.welcome-p {
  border-bottom: 2px solid blue;
  padding-bottom: 10px;
}

.noauth-status input {
  margin-right: 20px;
  width: 175px;
}

.noauth-status button:hover {
  cursor: pointer;
}
/* authentication section end */

/* account creation section start */

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid blue;

}

.login-container input { 
  margin-right: 20px;
  width: 175px;
}
.login-container p { 
 font-weight: bold;
}
.login-container button:hover {
  cursor: pointer;
}

.login-container button {
  width: 65px
}


.create-account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid blue;
}

.create-account-container input { 
  margin-right: 20px;
  width: 175px;
}
.create-account-container h2 { 
 margin-bottom: 10px;
}
.create-account-container button:hover {
  cursor: pointer;
}

.create-account-container button {
  width: 65px
}



.sign-up-btn {
  all: unset;
  display: flex;
  margin-top: 10px;
}

.sign-up-btn:hover {
  cursor: pointer;
  color: darkslategray;
}

.login-btn {
  all: unset;
  display: flex;
  margin-top: 10px;
  
}

.login-btn:hover {
  cursor: pointer;
  color: darkslategray;
  
}

/* account creation section end */

/* login status section start*/
.auth-container {
  
}
.auth-status {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-top: 2px solid blue;
  /* border-bottom: 2px solid blue; */

  
}

.auth-status button {
  width: 70px;
  margin-top: 10px;
}

.auth-status p {
  font-weight: bold;
  padding-top: 10px;
  
}

/* login status end */

/* To-Do App Container start */

.todoapp-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 250px; 
}

.todoapp-wrapper input {
  margin-top: 5px;
  width: 250px;
}

.todoapp-wrapper button {
  max-width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.todoapp-wrapper button:hover {
  cursor: pointer;
}

.save-load-container {
  display: flex;
  margin-top: 5px;
}

.save-btn {
  margin-right: 10px;
}

.todoapp-wrapper ul {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.todoapp-wrapper li {
  padding: 5px;
  width: 200px;
  max-width: 400px;
  list-style: none;
  border: 1px solid black;
  margin-top: 10px;
  text-align: center;
}

.todoapp-wrapper li button { 
  margin-left: 5px;
}

/* to-do app container end */